@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-content {
  overflow: auto;
  z-index: 1;
  position: relative;
}
.drawer-right .drawer-handle,
.drawer-right.drawer-open .drawer-content-wrapper {
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
}
.drawer .drawer-content-wrapper {
  width: 50vw;
  transform: translateX(0);
}

.drawer-right .drawer-content-wrapper {
  right: 0;
}
.drawer-left .drawer-content,
.drawer-left .drawer-content-wrapper,
.drawer-right .drawer-content,
.drawer-right .drawer-content-wrapper {
  height: 100%;
}
.drawer-content-wrapper {
  position: absolute;
  background: #fff;
}
.drawer > * {
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
    opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
    box-shadow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.drawer-left .drawer-content,
.drawer-left .drawer-content-wrapper,
.drawer-right .drawer-content,
.drawer-right .drawer-content-wrapper {
  height: 100%;
}
.drawer-content {
  overflow: auto;
  z-index: 1;
  position: relative;
}
.drawer.drawer-open .drawer-mask {
  opacity: 0.3;
  height: 100%;
  transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer .drawer-mask {
  background: #000;
  opacity: 0;
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
    height 0s ease 0.3s;
}
.drawer-left.drawer-open,
.drawer-right.drawer-open {
  width: 100%;
}
.drawer.drawer-open {
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer {
  overflow: visible;
  z-index: 9989 !important;
}
.drawer-right {
  top: 0;
  right: 0%;
}
.drawer-left,
.drawer-right {
  width: 0;
  height: 100%;
}
.drawer {
  position: fixed;
  z-index: 9999;
  transition: width 0s ease 0.3s, height 0s ease 0.3s,
    transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
